jupyterlab==4.0.7
beautifulsoup4==4.12.2
requests==2.31.0
lxml==4.9.3
pydantic==2.4.2
pandas==2.1.1
tenacity==8.2.3
python-dotenv==1.0.0
replicate==0.18.1
transformers==4.34.1
tqdm==4.66.1
pytz==2023.3.post1